<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>
      <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
 <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="slide" src="https://i.insider.com/5e4320842dae5c39400d68c5?width=1000&format=jpeg&auto=webp"  alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              {{!-- <p><a class="btn btn-lg btn-primary" href="/categories/phone" role="button">Check it out!</a></p> --}}
            </div>
          </div>
        </div>
        <div class="item">
          <img class="slide" src="https://scontent.fsgn5-2.fna.fbcdn.net/v/t1.6435-9/120243884_616693622340109_4924877987889300456_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=Ao2Qku4cnCUAX_Q0Gk8&_nc_ht=scontent.fsgn5-2.fna&oh=ed05532f5344ae0b8e9a53ab33ffd23b&oe=60BD8FFA" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              {{!-- <p><a class="btn btn-lg btn-primary" href="/categories/phone" role="button">Check it out!</a></p> --}}
            </div>
          </div>
        </div>
        <div class="item">
          <img class="slide" src="https://mk0buildfireqbf86ll2.kinstacdn.com/wp-content/uploads/2020/03/hero-image@3x-3.png" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              {{!-- <p><a class="btn btn-lg btn-primary" href="/categories/phone" role="button">Check it Out!</a></p> --}}
            </div>
          </div>
        </div>
      <div class="item">
          <img class="slide" src="https://images.adsttc.com/media/images/57d0/5a08/e58e/ceaf/e500/003f/newsletter/Screen_Shot_2016-09-07_at_3.17.17_PM.jpg?1473272324" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              {{!-- <p><a class="btn btn-lg btn-primary" href="/categories/phone" role="button">Check it Out!</a></p> --}}
            </div>
          </div>
        </div>
      
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      </div>
    </div><!-- /.carousel -->
      {{!-- <p>Check out our recently added products by our very own customers   <a href="/categories/recently-added"><button class="btn btn-danger">  Check it out</button></a></p> --}}
    </div>
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <h2 align="center" >List best selling phone style </h2>
      <hr>
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/images/pic9.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Lg G8THIN Q</h2>
          <p>Excellent design, premium materials, luxurious colors,3 unlock options: fingerprint reader, Face Unlock and Hand ID (palm vein recognition) brand new,Use Crystal Sound OLED Speaker technology that combines Boombox effects to create rich, detailed sound.</p>
          <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>
          <p><a class="btn btn-default" href="/categories/phone" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/images/pic10.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Samsung s21 ultra 5g</h2>
          <p>The new 100% powered Exynos 9825 chip is also the first mobile microprocessor built on the advanced 7nm EUV UV etching process.</p>
           <p><a class="btn btn-default" href="/categories/phone" role="button">View details &raquo;</a></p>
          <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/images/pic11.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Samsung A51</h2>
          <p>Samsung Galaxy Note 10 Plus The GENUINE Company not only possesses a luxurious design with a beautiful curved screen, but also impresses with the world's first Exynos 9825 processor built on the engraving process. Advanced 7nm EUV ultraviolet, unmatched gaming, extremely smooth multitasking.</p>
          <p><a class="btn btn-default" href="/categories/phone" role="button">View details &raquo;</a></p>
          <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>
        </div><!-- /.col-lg-4 -->
      </div>
       <div class="col-lg-4">
          <img class="img-circle" src="/images/pic12.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Lg V50S 5G</h2>
          <p>Possessing a top configuration with 855 chip and 8GB of RAM for any game or application.</p>
          <p><a class="btn btn-default" href="/categories/phone" role="button">View details &raquo;</a></p>
          <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>
                </div>
        </div><!-- /.col-lg-4 -->
        
</div>
      </div>
      
      
      <!-- /.row -->
      <!-- START THE FEATURETTES -->
      
     

    
